<template>
  <div>
    <div class="grid border-solid border-gray-100 border-round pt-0 pl-2 pr-2 mb-2">
      <div class="col-12">
        <h3 class="p-0 m-0 mt-2">{{title}}</h3>
      </div>
      <div class="col-12 md:col-6 lg:col-5">
        <div class="grid">
          <div class="col-12  ">
            <h4 class="m-0 mt-2 mb-2">Included Information</h4>
          </div>
        </div>
        <div class="grid pl-2">
          <div class="col-4 p-1" v-for="field of fields" :key="field.key">
            <div class="grid">
              <Checkbox class="col-fixed p-0 mt-2 " style="width:18px"
                        v-model="selectedFields"
                        :inputId="field.key"
                        :name="field.key"
                        :value="field.key"
                        :disabled="!field.optional"
              />
              <div class="col">
                <label :for="field.key" class="">{{ field.label }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-4">
        <div class="grid">
          <div class="col-12">
            <h4 class="m-0 mt-2 mb-2">File Sort Type</h4>
          </div>
        </div>
        <div class="grid pl-2">
          <div class="col-6 p-1" v-for="option in sortOptions" :key="option.key">
            <div class="grid">
              <RadioButton
                  class="col-fixed p-0 mt-2 "
                  v-model="selectedSortOption"
                  :inputId="option.key"
                  name="dynamic"
                  :value="option"/>
              <div class="col">
                <label :for="option.key" class="">{{ option.label }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <div class="grid">
          <div class="col-12">
            <h4 class="m-0 mt-2 mb-2">File Type</h4>
          </div>
        </div>
        <div class="grid pl-2">
          <div class="col-6 p-1" v-for="option in exportOptions" :key="option.key">
            <div class="grid">
              <RadioButton
                  class="col-fixed p-0 mt-2"
                  v-model="selectedExportOption"
                  :inputId="option.key"
                  name="exportType"
                  :value="option"/>
              <div class="col">
                <label :for="option.key" class="">{{ option.label }}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="grid">
          <Button class=" mt-2 w-full" label="Export" @click="handleExport"/>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {ref, watch, computed} from 'vue';
import * as XLSX from 'xlsx';
import {jsPDF} from 'jspdf';
import autoTable from 'jspdf-autotable';
import {useToast} from 'primevue/usetoast';

export default {
  props: {
    fileName: {
      type: String,
      default: () => 'downloads',
      validator: (value) => /^[a-zA-Z0-9_]+$/.test(value.trim()),
    },
    title: {
      type: String,
      default: () => 'Options for Exporting'
    },
    dataToExport: {
      type: Array,
      default: () => [],
      validator: (contents) => contents.every(content => typeof content === 'object')
    },
    fields: {
      type: Array,
      default: () => [],
      validator: (fields) => fields.every(field => field.hasOwnProperty('key') && field.hasOwnProperty('label'))
    },
    sortOptions: {
      type: Array,
      default: () => [],
      validator: (options) => options.every(option => option.hasOwnProperty('key') && option.hasOwnProperty('label') && option.hasOwnProperty('order'))
    }
  },

  setup(props) {
    const toast = useToast();
    const selectedFields = ref([]);
    const selectedSortOption = ref(props.sortOptions[0] || null);
    const selectedExportOption = ref({key: 'xlsx', label: '.xlsx'});
    const exportOptions = ref([
      {key: 'csv', label: '.csv'},
      {key: 'xlsx', label: '.xlsx'},
      {key: 'json', label: '.json'},
      {key: 'pdf', label: '.pdf'}
    ]);

    watch(() => props.fields, (newFields, oldFields) => {
      const nonOptionalKeys = newFields.filter(field => !field.optional).map(field => field.key);
      selectedFields.value = Array.from(new Set([...nonOptionalKeys, ...selectedFields.value]));
    }, {
      immediate: true,
    });

    const handleExport = () => {
      if (selectedExportOption.value.key === 'csv') {
        exportCSV();
      } else if (selectedExportOption.value.key === 'json') {
        exportToJson();
      } else if (selectedExportOption.value.key === 'pdf') {
        exportToPDF();
      } else if (selectedExportOption.value.key === 'xlsx') {
        exportToExcel();
      }
    };

    const sortedDataToExport = computed(() => {
      console.log(selectedSortOption.value, 'selected sort option');
      if (!selectedSortOption.value) return props.dataToExport;
      const {key, order} = selectedSortOption.value;
      console.log({key, order}, '{key, order}');

      return [...props.dataToExport].sort((a, b) => {
        if (order === 'asc') {
          return a[key] > b[key] ? 1 : a[key] < b[key] ? -1 : 0;
        } else {
          return a[key] < b[key] ? 1 : a[key] > b[key] ? -1 : 0;
        }
      });
    });

    const getHeaders = () => {
      const headerMap = props.fields.reduce((acc, field) => {
        if (selectedFields.value.includes(field.key)) {
          acc[field.key] = field.label; // map the key to the label
        }
        return acc;
      }, {});
      const headers = Object.keys(headerMap).map(key => headerMap[key]);

      return {headers: headers, headerMap: headerMap};
    };

    const getPDFBody = (data) => {
      return data.map(entry => {
        return selectedFields.value.map(field => entry[field] ? entry[field].toString() : '');
      });
    };

    const filterDataForExport = () => {
      return sortedDataToExport.value.map(data => {
        const filteredData = {};
        selectedFields.value.forEach(field => {
          if (data.hasOwnProperty(field)) {
            filteredData[field] = data[field];
          }
        });
        return filteredData;
      });
    };

    const exportCSV = () => {
      try {
        const filteredData = filterDataForExport();
        const headers = getHeaders().headers;
        const csvData = [
          headers.join(','), // Add header row
          ...filteredData.map(entry => selectedFields.value.map(field => entry[field] ? entry[field].toString() : '').join(','))
        ].join('\n');
        const blob = new Blob([csvData], {type: 'text/csv;charset=utf-8;'});
        const link = document.createElement('a');
        link.setAttribute('href', URL.createObjectURL(blob));
        link.setAttribute('download', `${props.fileName}.csv`);
        link.click();
        toast.add({severity: 'success', summary: 'Success', detail: 'Exported successfully.', life: 3000});
      } catch (e) {
        toast.add({severity: 'error', summary: 'Error', detail: 'Failed to export.', life: 3000});
      }
    };

    const exportToJson = () => {
      try {
        const filteredData = filterDataForExport();
        const dataStr = JSON.stringify(filteredData);
        const blob = new Blob([dataStr], {type: "application/json"});
        const url = URL.createObjectURL(blob);
        const link = document.createElement('a');
        link.download = `${props.fileName}.json`;
        link.href = url;
        link.click();
        toast.add({severity: 'success', summary: 'Success', detail: 'Exported successfully.', life: 3000});
      } catch (e) {
        toast.add({severity: 'error', summary: 'Error', detail: 'Failed to export.', life: 3000});
      }
    };

    const exportToExcel = () => {
      try {
        const filteredData = filterDataForExport();
        const worksheet = XLSX.utils.json_to_sheet([getHeaders().headerMap, ...filteredData],{skipHeader: true});
        const workbook = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(workbook, worksheet, "Sheet1");
        XLSX.writeFile(workbook, `${props.fileName}.xlsx`);
        toast.add({severity: 'success', summary: 'Success', detail: 'Exported successfully.', life: 3000});
      }
      catch (e) {
        toast.add({severity: 'error', summary: 'Error', detail: 'Failed to export.', life: 3000});
      }
    };


    const exportToPDF = () => {
      try {
        const filteredData = filterDataForExport();
        const headers = [getHeaders().headers];
        const body = getPDFBody(filteredData);
        const doc = new jsPDF();
        autoTable(doc, {
          head: headers,
          body: body
        });
        doc.save(`${props.fileName}.pdf`);
        toast.add({severity: 'success', summary: 'Success', detail: 'Exported successfully.', life: 3000});
      } catch (e) {
        toast.add({severity: 'error', summary: 'Error', detail: 'Failed to export.', life: 3000});
      }
    };

    return {
      selectedFields,
      selectedSortOption,
      selectedExportOption,
      exportOptions,
      exportCSV,
      exportToJson,
      exportToPDF,
      exportToExcel,
      handleExport
    };
  }
}
</script>

